.newtweet {
  padding-top: 20px;
}

.tweettext {
  font-family: "Source Sans 3";
  text-align: left;
  font-weight: bold;
}

.tweetarea {
  text-align: center;
  width: 100%;
}

hr {
  border: 2px solid black;
}

.tweetbutton {
  float: left;
  background-color: #687fca;
}

.counter {
  float: right;
}

.counter.red {
  float: right;
  color: red;
}

.tweetcontainer {
  font-family: 'Source Sans 3';
  padding-top: 50px;
  padding-bottom: 20px;
}

.tweets:hover {
  box-shadow: 10px 10px 5px lightblue;
}

.tweets {
  border-width: 5px;
  border-style: solid;
  margin-bottom: 30px;
  padding: 15px;
}

.tweet {
  font-weight: bold;
  padding-left: 5px;
  padding-right: 5px;
}

img {
  vertical-align: middle;
}

.username {
  float: right;
  color: rgb(75, 173, 205);
}

.username:hover {
  font-weight: bold;
}

.date {
  font-size: 15px;
}

.icons {
  float: right;
  color: #4056A1;
}

.fa-flag:hover {
  color: #FFE333;
}

.fa-retweet:hover {
  color: #FFE333;
}

.fa-heart:hover {
  color: #FFE333;
}

.error {
  color: red;
  text-align: center;
  border-width: 3px;
  border-style: solid;
  border-color: red;
}

